@import url('https://fonts.googleapis.com/css?family=Montserrat');

:root {
  --brand-primary: #cc4a1e;
  --brand-primary--inverted: #ffffff;
  --brand-secondary: #ffa800;
  --brand-secondary--inverted: #3c1609;
  --main-navigation-color: var(--brand-secondary--inverted);
  --font-family-base: 'Montserrat';
}
